<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form #loginForm = "ngForm" novalidate autocomplete="off" (ngSubmit)="LoginFormValues(loginForm.value)">
    <div class="form-group" >
        
      <label for="userName">User Name:</label>
      <em *ngIf="loginForm.controls.userName?.invalid && (loginForm.controls.userName?.touched || mouseOver)">Required</em>
      <input id="userName" required (ngModel)="userName" name="userName" type="text" class="form-control" placeholder="User Name..." />
    </div>
    <div class="form-group" >
                 
      <label for="password">Password:</label>
      <em *ngIf="loginForm.controls.password1?.invalid && (loginForm.controls.password?.touched || mouseOver)">Required</em>
      <input id="password" required (ngModel)="password" name="password1" type="password" class="form-control"placeholder="Password..." />
    </div>
     <span (mouseenter)="mouseOver = true" (mouseleave)="mouseOver = false">   
    <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
</span>
    <button type="button" class="btn btn-default">Cancel</button>
  </form>
</div>